img{
    width: 80px;
}
table{
    font-family: arial,sans-serif-light,sans-serif;
    white-space: pre;
}
.puntuacion{
    font-size: 36px;
   
}
#separadorder{
    
}

.pequeño{
    font-size: small;
}
.contenido{
    text-align: left;
}

