@media (min-width: 1200px) {
    /*HEADER CSS*/
   
   .container{
       display: unset;
   }

   #menuNavegacion{
       display: flex;
       text-align: center;
    list-style: none;
    height: 8%;
    width: 110%;
 
       
   }
   #MenuPrin{
       border-radius: 50%;
       background-color: darkgreen;
   }
   .lista{
       font-size: 30px;
       font-family: fantasy;
    vertical-align: middle;
       border:2px solid black;
       margin-right: 5px;
       border: 2px solid black;
        width: 17%;
    
        background-color:#007bff;
   }
   
  /*HEADER FORM*/
 
  #menuNavegacion1{
    display: flex;
    text-align: center;
 list-style: none;
 height: 8%;
 width: 110%;
  }
  /*CSS FORM*/
   
  #checkBox-3{
      position: relative;
      top: -20;
  }
  #Lista4{
      display: inherit;
  }
  #Lista3{
    display: inherit;
}
 /*CSS DETALLES*/
  #divDetalles{
      margin-left: 15%;
  }
table{
    margin-left: 10%;
}
 #Formulario{
     position: relative;
     border: none;
     width: 100%;
     padding: 0;
     margin-top: 4%;
 
 }
 .list-group{
     display: inline-block;
 }
 form a img{
     width: 60px;
 }
 th{
     width: 200px;
 }
 tr{
     height: 80px;
    
 }
 .list-group-item{
     display: table-row-group;
    
 }
  }
