@media (max-width: 800px) {
  
  
    .lista{
        display: inline-table;
      line-height: 60px;
        margin-top: 10px;
        background-color: #007bff;
        text-align: center;
       border-top-left-radius: 20%;
       border-bottom-right-radius: 20%;
       font-family: fantasy;
       
       font-size: 25px;
     
       
        width: 280px;
        height: 75px;
        border:  black 3px solid;
        
    }
  
       
     
  }
