#Enlace{
   
    padding-left:500;
  
}
.texto{
  color:gray;
}
body{
  font-family: sans-serif;
}
#Fondo{
 background-color: rgb(241, 229, 229);
}
#Borde{
  border-left:2px solid black;
  padding-left: 15px; 
}
#Pequeño{
  padding-top: 15px;
  padding-left:10px;
}
#Secundario{
  margin-left: 20px;
 
}
a{
  text-decoration: none;
}
#Izq{
  padding-left:500;
  
}
img{
  width: 80px;
  padding-top: 10px;
}
h1{
  color: rgb(36, 36, 148);
}
hr{
 border: 1px solid rgb(226, 221, 221);
}
#central{
  padding-left: 20px;
  padding-right: 20px;
}

.center{
    border: 2px solid rgb(13, 163, 13);
    background-color: rgb(5, 218, 5);
    color: white;
    margin-top: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
}
.container input:checked ~ .checkmark {
    background-color:  rgb(10, 175, 10);
  }
  .container:hover input ~ .checkmark {
    background-color:  rgb(10, 175, 10);
  }
  .checkmark {
    position: absolute;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
  height: 20px;
  width: 20px;
    background-color: rgb(10, 175, 10);
  }
  .container input {
    position: absolute;
    display: none;
  }
  .container {
    position: relative;
    padding-left: 35px;
    font-size: 13px;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 5px;
    top: 4px;
    width: 5px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }