#Completo{
    border: 1px solid black;
    text-align: center;
    width: 400px;
    font-family: sans-serif;
}
h1{
    background-color:#69a0f3;
    color: white;
    padding: 10px;
    margin: 10px;
}
h2{
    background-color:#69a0f3;
    color: white;
    padding: 5px;
    margin: 10px;
}
a{
    text-decoration:none;
}
th{
    text-align: left;
}