#Titulo{
    margin-top: 2%;
    width: 50%;
    border: 1px solid black;
  
}

center{
  
 position: absolute;
 width: 100%;
 
 margin-top: 10px;
 right:5%;
    background-image: url("../img/fondo3.png");
  

}
#ExtraescolaresIni{
  margin-right: 20%;
}
#ExtraescolaresFin{
    margin-left: 20%;
  }
#nombreAlumno{
    margin-right: 20%;
}
#nombreProfe{
    margin-right: 10%;
    width: 350px;
}
#fechaIncidente{
    margin-right: 80px;
}
#horaIncidente{
    margin-right: 80px;
}


.checkBoxD{
    width: 65%;
    text-align: left;
    border: 2px solid black;
    padding: 5px;
   
   
 
}

#Enviar{
    margin-top: 5%;

}

.Articulo{
    margin-top: 20px;
    border-top: 2px solid black;
    padding-top: 20px;
}
.Descipcion{
    margin-top: 20px;
    
    padding-top: 20px;
}
.Descipcion1{
    margin-top: 20px;
  border-top: 2px solid black;
    padding-top: 20px; 
}
textarea{
    width: 100%;
}
.tipificacion{
    width: 20%;
}
.comentario{
    width: 50%;
}

.checkBox{
text-align: left;
}
#Lista3{
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-size:11px;
    height: 150px;
    overflow: auto;
   
}
.quitarD{
    display: none;
}
.mostrarD{
    visibility: visible;
}
#Lista4{
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-size:13px;
    height: 150px;
    overflow: auto;
}
.Scroll {
    text-align: left;
}
#nombreAlumno{
    width: 350px;
}
.grupo{
    padding: 20px;
    margin-right: 50px;

}
#Clases{
    margin-right: 2%;
}
#Formulario{
    margin-top: 2%;
    border: 1px solid black;
    width: 70%;
    padding: 10px;

}
#Documento{
    margin-top: 25px;
}
.QuitarGrave{
    display: none;
}
.MostrarGrave{
    visibility: visible;
}
.QuitarLeve{
    display: none;
}
#SuspensionIni{
    margin-right: 2%;
    margin-left: 2%;
}
#SupsensionFin{
    margin-left: 2%;
}
