@media (max-width: 1200px) {
   /*
    #header{
       width: 100%;
   }
   */
   .container1{
    position: absolute;
       width: 100%;
     
  
       left: 0;
   }
        .container2{
          
        }
        .nav{
            
        }      
    
    th{
        text-align: center;
        height: 50px;
        width: 140px;
        border:1px solid black;
        background-color: darkcyan;
    }
    td{
        text-align: center;
        height: 50px;
        width: 140px;
        border:1px solid black;
        background-color: rgb(206, 200, 192);
    }
    tr{
        height: 50px;
    }
    table{
        
       
        width: 80%;
       margin-left: 15%;
      
    }
    td img{
        width: 20px;
       
     
    }
    /*
    #divDetalles{
        width: 80%;
        margin-left: 10%;
        }
        */
    .lista2{
        width: 20%;
    }
    .lista h3{
        font-size: 20px;
       
    }
  
        .lista2 h3{
            font-size: 20px;
        }
        center{
            margin-top: 25px;
        }
       
     
  }
