
a{
    
   
    color: black;
    text-decoration: none;
}
.container{
    padding: 0;
    background-image: url("../img/header.jpg");

}
.container2{
    border-top: 2px solid black;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom:  20px;
    
}
.container1{
padding-left: 20px;
    width: 100%;
    
   

}
h1{
    text-align: center;
}
.container-fluid{
    width: 50%;
    
}
.list-group-item{
    background-color:rgb(216, 71, 71) ;
  
}
#listaItem{
    border-bottom: 2px solid black;
}
.dropdown:hover .dropdown-toggle{
    color: white;
}
.dropdown:hover{
    background-color:#294461;
}
.lista:hover{
    background-color:#294461;
}
.lista:hover a{
    color: white;
    

}
.lista2{
    border-top: 2px solid black;
  
}
.lista2:hover a{
    background-color:#294461;
    color: white;
}
.lista{
   border: 2px solid black;
    width: 25%;
    background-color:#007bff;
}
.dropdown{

    border: 2px solid black;
    width: 23%;
    background-color:#007bff;
}
.nav{
text-align: center;   
}

.navbar{
    background-color: rgb(180, 175, 175)
}
.jumbotron{
    background-color: grey;
}
body{
    background-image: url("../img/fondo.jpg");
   
}
.dropdown-menu{
background-color:#007bff;
border: 2px solid black;


}
.dropdown-item:hover{
    background-color: #007bff;


}
#Menu{
    text-align: right;
}
.btn-group{
 
   border: 2px solid blue;
    
}
.btn-group:hover{
    
}
a:hover{
    color: white;
   
    text-decoration: none;
}
#logo{
    width: 300px;

}
.menu{
    display:none;
}
.btn{


    width: 24%;
    text-decoration: none;

}