
td img{
    width: 20px;
   
 
}
a{

    
   
    color: black;
    text-decoration: none;
}
#head{
    padding: 0;
    padding-bottom: 20px;
    background-image: url("../img/fondo.jpg");

}
.badge{
   
}
.container2{
    border-top: 2px solid black;
    padding-top: 20px;
    margin-top: 20px;
    background-image: url("../img/fondo4.jpg");
    width: 90%;
    position: absolute;
    right: 5%;
    padding-bottom:  20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
.container1{
padding-left: 20px;
    width: 100%;
    position: relative;
    z-index: 1;
    font-family: fantasy;
   

}
/*
#divDetalles{
width: 80%;
margin-left: 10%;
}
*/
h1{
    text-align: center;
}
th{
    text-align: center;
    height: 50px;
    width: 140px;
    border:1px solid black;
    background-color: darkcyan;
}
td{
    text-align: center;
    height: 50px;
    width: 140px;
    border:1px solid black;
    background-color: rgb(206, 200, 192);
}
tr{
    height: 50px;
}
table{
    
   
    width: 80%;
   margin-left: 25%;
  
}

.list-group-item{
    background-color:rgb(155, 153, 153) ;
  
}
#listaItem{
    border-bottom: 2px solid black;
}
.dropdown:hover .dropdown-toggle{
    color: white;

  
}

.lista:hover{
    background-color:#294461;
    transform:scale(1.05);
    transition:all 1s ease;
    transition-timing-function: ease;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.lista:hover a{
    color: white;

    

}
.palabra{
    font-family: fantasy;

}
#borrarFalta img:hover{
  
    transform:scale(1.2);
    transition:all 1s ease;
    transition-timing-function: ease;
  
}
#borrarFalta img{
  
    
    transition:all 1s ease;
    transition-timing-function: ease;
  
}
#Formulario{
    position: absolute;
    right: 0;

}
.lista2:hover{
    background-color:red;
    transform:scale(1.05);
    transition:all 1s ease;
    transition-timing-function: ease;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.lista2:hover a{
    color: white;
   
    

}

/*
.lista{
    margin-right: 5px;
   border: 2px solid black;
    width: 17%;

    background-color:#007bff;
}

*/

.nav{
text-align: center;   
}

.navbar{
    background-color: rgb(194, 178, 178)
}
.jumbotron{
    background-color: grey;
}
body{
    background-image: url("../img/fondo.jpg");
    
    
   
}

.dropdown-item:hover{
    background-color: #007bff;


}
#Menu{
    text-align: right;
}
.btn-group{
 
   border: 2px solid blue;
    
}

a:hover{
    color: white;
   
    text-decoration: none;
}
#logo{
    width: 300px;

}
.menu{
    display:none;
}
.btn{


    width: 24%;
    text-decoration: none;

}